/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --bg-image: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --decor-color: rgb(255, 0, 112);
  --title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-family: 'IBM Plex Mono';
  --title-text-color: #db00ff;
  --accent-color: rgb(255, 0, 112);
  --section-title-color: #ff0070;
  --subtitle-text-color: #000028;
  --text-color: #f1b2ce;
}

.dark-decor {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--small-size);
  line-height: var(--rec-line-height);
  text-align: center;
  text-transform: uppercase;
  color: var(--decor-color);
  inset-block-start: var(--rec-inset);
  inset-inline-end: var(--rec-inset);
  gap: var(--usual-gap);
}

.dark-decor::after {
  content: '';
  min-inline-size: var(--rec-decor-size);
  min-block-size: var(--rec-decor-size);
  border-radius: 50%;
  background: var(--decor-color);
  box-shadow: 0 0 4px 3px var(--decor-color);
}

@media (width >= 768px) {
  .dark-decor {
    inset-block-start: 20px;
    inset-inline-end: 30px;
  }
}
