/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
@import url('./variables.css');

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-attachment: fixed;
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--bg-color);
  box-sizing: border-box;
  margin-block-end: 10px;
}

.header {
  height: 100vh;
  min-height: 678px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-content: end;
}

.header__theme-menu {
  display: grid;
  justify-content: end;
  margin-block: 75px 65px;
  margin-inline: 0 23px;
  width: auto;
  max-width: 100%;
}

.header__theme-menu-list {
  display: flex;
  height: 100%;
  gap: var(--header-gap);
  flex-direction: column;
  justify-content: space-between;
}

.header__theme-menu-item {
  font-family: var(--font-family), sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--head-small-font);
  line-height: var(--head-small-font);
  text-align: center;
  color: var(--color-button);
}

.header__theme-menu-button {
  position: relative;
  margin-block-end: calc(var(--header-gap) / 2);
}

.header__theme-menu-button:hover {
  cursor: pointer;
}

.header__theme-menu-button:hover::before {
  content: '';
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -5%) scale(2);
  width: 80%;
  height: 60%;
  border: var(--decor-border) solid var(--color-button-border);
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.header__theme-menu-button_active::before {
  content: '';
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -5%) scale(2);
  width: 80%;
  height: 60%;
  border: var(--decor-border) solid var(--color-button);
  pointer-events: none;
}

.header__theme-menu-button:focus::before {
  content: '';
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -5%) scale(2);
  width: 80%;
  height: 60%;
  border: none;
  border-bottom: var(--decor-border) solid var(--color-button);
  pointer-events: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
}

.decorated-zone {
  position: relative;
}

/* верхний правый уголок */
.decorated-zone::before {
  content: '';
  position: absolute;
  display: block;
  min-block-size: var(--corner-size);
  min-inline-size: var(--corner-size);
  inset-block-start: calc(var(--corner-inset) * 2);
  inset-inline-end: var(--corner-inset);
  border-block-start: var(--decor-border) solid var(--decor-color);
  border-inline-end: var(--decor-border) solid var(--decor-color);
  border-block-end: none;
  border-inline-start: none;
}

/* Нижний левый уголок */
.decorated-zone::after {
  content: '';
  position: absolute;
  display: block;
  min-block-size: var(--corner-size);
  min-inline-size: var(--corner-size);
  inset-block-end: var(--corner-inset);
  inset-inline-start: calc(var(--corner-inset) * 0.8);
  border-block-end: var(--decor-border) solid var(--decor-color);
  border-inline-start: var(--decor-border) solid var(--decor-color);
  border-block-start: none;
  border-inline-end: none;
}

.header__title {
  font-family: var(--font-family), sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: var(--title-size);
  line-height: 83%;
  color: var(--title-text-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  margin-inline: var(--header-gap);
  padding-block: 0;
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: calc(var(--section-gap) * 2);
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: var(--section-gap);
}

.question {
  min-block-size: 117px;
  margin-block: 55px 66px;
  margin-inline: var(--section-gap);
  height: min-content;
}

.title-decor {
  background-color: var(--accent-color);
  font-family: var(--font-family);
  font-weight: 700;
  font-style: normal;
  font-size: var(--small-font-size);
  line-height: 23.4px;
  color: var(--subtitle-text-color);
}

.section__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-style: normal;
  font-size: var(--small-font-size);
  line-height: 23.4px;
  color: var(--section-title-color);
}

.section.desision .title-decor {
  margin-block-end: var(--section-gap);
}

.desision__title-decor {
  background-color: var(--accent-color);
  font-family: var(--font-family);
  font-weight: 400;
  font-style: normal;
  font-size: var(--small-font-size);
  line-height: calc(var(--small-font-size) * 1.3);
  color: var(--subtitle-text-color);
}

.text {
  color: var(--text-color);
  font-family: var(--font-family);
  font-weight: 400;
  font-style: normal;
  font-size: var(--small-font-size);
  line-height: calc(var(--small-font-size) * 1.3);
}

.text-shadow {
  text-decoration: none;
  text-shadow: var(--shadow-x) var(shadow-y) 0 var(--accent-color);
}

.text-shadow:hover {
  text-decoration: underline;
  text-decoration-color: var(--text-color);
  text-underline-offset: 0.1lh;
  text-decoration-thickness: var(--decor-border);
}

.text-shadow:focus-visible {
  outline: var(--decor-border) solid var(--text-color);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--section-gap);
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: var(--section-gap);
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 668px;
}

.footer__title {
  display: inline-block;
  font-family: var(--font-family), sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: var(--title-size);
  line-height: 83%;
  color: var(--title-text-color);
  text-shadow: var(--shadow-x) calc(var(--shadow-y) * 2) 0 var(--accent-color);
}

.dark-decor {
  position: absolute;
  display: var(--dark-decor-display);
  justify-content: flex-end;
  align-items: center;
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--small-font-size);
  line-height: var(--rec-line-height);
  text-align: center;
  text-transform: uppercase;
  color: var(--decor-color);
  inset-block-start: var(--rec-inset);
  inset-inline-end: var(--rec-inset);
  gap: var(--section-gap);
}

.dark-decor::after {
  content: '';
  min-inline-size: var(--rec-decor-size);
  min-block-size: var(--rec-decor-size);
  border-radius: 50%;
  background: var(--decor-color);
  box-shadow: 0 0 var(--blur-radius) var(--spread-radius) var(--decor-color);
}

@media (width >= 768px) {
  .page {
    margin-block-end: 0;
  }

  /* верхний правый уголок */
  .decorated-zone::before {
    inset-block-start: calc(var(--header-gap) * 2);
    inset-inline-end: calc(var(--header-gap) * 2);
  }

  /* Нижний левый уголок */
  .decorated-zone::after {
    inset-block-end: calc(var(--header-gap) * 2);
    inset-inline-start: calc(var(--header-gap) * 2);
  }

  .header {
    grid-template-columns: repeat(4, 1fr);
    min-height: 1024px;
    align-content: normal;
  }

  .header__title {
    grid-column: span 3;
    grid-row: 2 / 3;
    text-wrap: nowrap;
    padding-inline: 0;
    margin-inline: 0;
    margin-block-start: calc(var(--header-gap) * 4);
    transform: translateY(var(--header-gap));
  }

  .dark-decor {
    inset-block-start: var(--rec-inset);
    inset-inline-end: calc(var(--rec-inset) * 1.5);
  }

  .question {
    grid-column: 3 / 5;
    grid-row: 3 / 4;
    padding-inline-end: calc(var(--section-gap) * 4);
    padding-block-end: 0;
    min-block-size: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-inline-start: 0;
    margin-inline-end: calc(var(--section-gap) * 2);
  }

  .header__theme-menu {
    grid-column: 4;
    grid-row: 1 / 2;
    margin-inline: 0 calc(var(--header-gap) * 3);
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-block-end: calc(var(--header-gap) * 5.8);
  }

  .section {
    grid-template-columns: 1fr 2fr;
  }

  .section.explain .card,
  .section.desision .card {
    grid-column: 2 / 3;
  }

  .section.reason .card {
    grid-column: span 3;
    grid-template-rows: minmax(min-content, max-content);
  }

  .main {
    gap: calc(var(--section-gap) * 8);
    margin-inline: calc(var(--section-gap) * 2);
    margin-block-start: calc(var(--section-gap) * 5.9);
  }

  .title-decor {
    align-self: start;
  }

  .section.desision .title-decor {
    margin-block-end: var(--section-gap);
  }

  .content .title-decor {
    min-width: 100%;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: calc(var(--section-gap) * 2);
    margin-block-start: var(--section-gap);
  }

  .picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .sunset {
    grid-column: span 2;
  }

  .ice {
    grid-row: span 2;
  }

  .tape {
    grid-row: span 2;
  }

  .books {
    grid-column: span 1;
  }

  .street {
    grid-column: span 2;
  }

  .footer {
    min-height: 1024px;
    height: 100vh;
  }

  .footer.decorated-zone::before {
    inset-block-start: var(--footer-corner-top-tablet);
  }

  .footer.decorated-zone::after {
    inset-block-start: var(--footer-corner-bottom-tablet);
  }

  .footer__title {
    margin-block-start: var(--footer-title-offset-tablet);
  }
}

@media (width >= 1024px) {
  .header {
    min-height: 768px;
    grid-template-rows: auto;
    align-content: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 35px;
  }

  .header__theme-menu {
    display: flex;
    grid-column: 2 / 4;
    justify-content: center;
    align-items: start;
    margin-inline: 0;
    margin-block: 22px 119px;
  }

  .header__title {
    font-size: 157px;
    margin-block-start: 87px;
  }

  .question {
    padding-inline-end: 0;
    margin-block: 120px 0;
  }

  .section {
    column-gap: var(--section-gap);
    row-gap: calc(var(--section-gap) * 2);
  }

  .section.reason {
    grid-template-columns: repeat(3, 1fr);
    gap: calc(var(--section-gap) * 2);
  }

  .section.reason .card {
    grid-column: auto;
    grid-row: 2 / 3;
  }

  .footer {
    min-height: 768px;
  }

  .footer__title {
    font-size: 157px;
    text-shadow: var(--shadow-x) calc(var(--shadow-y) * 2) 0 #ff0070 !important;
  }

  .footer.decorated-zone::after {
    inset-block-start: var(--footer-corner-bottom-big);
  }
}
