/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-image: url('../images/cover-image-light.png');
  --bg-color: #fff1f7;
  --decor-color: #353430;
  --title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-family: 'IBM Plex Mono';
  --title-text-color: #ffc2e6;
  --section-title-color: #353430;
  --accent-color: #ff8dcb;
  --subtitle-text-color: #353430;
  --text-color: #353430;
  --corner-inset: 12px;
  --corner-size: 25px;
  --rec-decor-size: 9px;
  --small-size: 18px;
  --rec-line-height: 25px;
  --rec-inset: 20px;
  --usual-offset: 10px;
  --usual-gap: 10px;
}
