/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-image: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --decor-color: rgb(255, 0, 112);
  --title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-family: 'IBM Plex Mono';
  --title-text-color: #db00ff;
  --accent-color: rgb(255, 0, 112);
  --section-title-color: #ff0070;
  --subtitle-text-color: #000028;
  --text-color: #f1b2ce;
  --color-button: rgb(255, 0, 112);
  --color-button-border: rgb(255, 0, 112, 0.4);
  /*
  --small-size: 18px;
  --rec-line-height: 25px;
  --rec-inset: 20px;
  --usual-offset: 10px;
  --usual-gap: 10px;
*/

  /*Отступы шапки*/
  --header-gap: 10px;
  --head-small-font: 18px;

  /*Толщина границ*/
  --decor-border: 1px;

  /*Отступы и размеры в секциях, карточках, универсальный*/
  --section-gap: 10px;
  --small-font-size: 18px;

  /*Тени*/
  --shadow-x: 2px;
  --shadow-y: 1px;

  /*Размеры и отступы REC и уголков*/
  --corner-inset: 10px;
  --corner-size: 25px;
  --rec-decor-size: 9px;
  --rec-line-height: 25px;
  --rec-inset: 20px;
  --blur-radius: 4px;
  --spread-radius: 3px;

  /*Размеры и отступы футера*/
  --footer-gap: 5px;

  /* Футер — уголки при >=768 */
  --footer-corner-top-tablet: 38px;
  --footer-corner-bottom-tablet: 995px;
  /* Футер — заголовок >=768 */
  --footer-title-offset-tablet: 40px;

  /* Футер — уголки при >=1024 */
  --footer-corner-top-big: 38px;
  --footer-corner-bottom-big: 745px;
  /* Футер — заголовок >=1024 */
  --footer-title-offset-big: 40px;

  /**/

  /**/

  /**/

  /**/

  /**/

  --dark-decor-display: flex;
}
